@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
*{
	margin: 0px;
	padding: 0px;
}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
}
p{
	margin-bottom: 0px;
}
ul,ol{
	margin:0px;
	list-style-type: none;
}
a,a:hover,a:focus{
	text-decoration: none;
	outline: 0px;
}
.title{
	font-size: 36px;
	color: #2b2b2b;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.more{
	margin-top: 30px;
}
.more a{
	display: inline-block;
	padding: 15px 40px;
	color: #80B435;
	border: 1px solid  #80B435;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition : all 0.3s linear;
	transition : all 0.3s linear;
}
.more a:hover{
	color: #fff;
	background-color: #80B435;
}
header{
}
/*Header*/
.header-top{
	padding: 20px 0px;
	border-bottom: 1px solid #cdcdcd;
}
.header-top-left i,
.header-top-right ul li i{
	color: #949594;
	font-size: 24px;
	margin-right: 20px;
	line-height: 55px;
}
.logo{
	display: inline-block;
}
.header-top-left{
	padding-left: 0px;
}
.header-top-right{
	padding-right: 0px;
}
.header-top-right ul{
	float: right;
	display: -webkit-flex;
	display: flex;
}
.header-top-right ul li i{
	margin-left: 20px;
	margin-right: 0px;
}
/*Menu*/
.header-menu{
	display: inline-block;
}
.header-menu li{
	float: left;
	margin-right: 15px;
}
.header-menu li a{
	display: inline-block;
	padding: 13px 20px;
	color: #2b2b2b;
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition : all 0.3s linear;
	transition : all 0.3s linear;
}
.header-menu li a:hover{
	color: #80B435;
}
/*Banner*/
.banner{
	position: relative;
	width:100%;
	height: 100%;
	z-index:0;
	padding: 300px 0px;
	background-image: url(../images/banner.jpg);
	background-size: cover;
  	/*background-size: calc(100% + 100px);*/
  	background-repeat: no-repeat;
}
.banner::after{
	content: "";
	width: 100%;
	height :100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(34, 35, 41, 0.5);
	z-index: -1;
}
.banner-content{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.banner-title{
	color: #fff;
	font-size: 42px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
}
.banner-btn{
	display: inline-block;
	padding: 15px 40px;
	color: #80B435;
	border : 1px solid #80B435;
	border-radius: 3px;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition : all .3s linear;
	transition : all .3s linear;
}
.banner-btn:hover{
	color: #fff;
	background-color: #80B435;
}
/*About Us*/
.about-us{
	padding: 80px 0px;
	background-color: #f7f7f7;
}
.about-desc{
	max-width: 760px;
	color: #666;
	font-size: 16px;
	line-height: 1.9em;
	font-family: 'Roboto Slab', serif;
}
.single-fact{
	margin-bottom: 15px; 
}
.single-fact:last-of-type{
	margin-bottom: 0px;
}
.fact-icon{
	position: relative;
	padding-top: 100%;
	border: 1px solid #cdcdcd;
	transition: all 0.3s ease;
	cursor: pointer;
}
.fact-icon:hover{
	background-color: #80B435;
	border-color: #80B435;
}
.fact-icon i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform : translate(-50%,-50%);
	font-size: 26px;
	color: #80B435;
}
.fact-icon:hover i{
	color: #fff;
}
.fact-title{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
}
.fact-desc{
	margin-top: 15px;
	color: #979797;
	font-size: 13px;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
}
/*Latest Products*/
.latest{
	padding: 80px 0px;
}
.portfolio-controllers .masonary-filter-btn,
.product-controllers .filter-btn{
	padding: 8px 12px;
	margin-right: 8px;
	color: #363636;
	background-color: transparent;
	border: 1px solid #80B435;
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	-webkit-transition : all 0.3s ease;
	transition : all 0.3s ease;
}
.portfolio-controllers .masonary-filter-btn:focus,
.product-controllers .filter-btn:focus{
	outline: 0px;
}
.portfolio-controllers .masonary-filter-btn.active-work,
.product-controllers .filter-btn.active-work{
	color: #fff;
	background-color: #80B435;
}
.masonry-content{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
	transform : translate(-50%,-50%);

}
.masonry-content-title{
	padding: 10px 0px;
	background-color: #80B435;
	color: #fff;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: capitalize;
}
.masonry-content-details{
	display: inline-block;
	padding: 15px 25px;
	background-color: #fff;
	color: #80B435;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: uppercase;

}
/*Portfolio*/
.latest .portfolio{
	margin-top: 30px;
}
.portfolio{
	cursor: pointer;
}
.masonry-portfolio-image{
	overflow: hidden;
}
.masonry-portfolio-image img{
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.portfolio-image{
	position: relative;
}
.caption{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	overflow: hidden;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.portfolio:hover .caption{
	background-color: rgba(34, 36, 41, 0.6);
}
.portfolio:hover .masonry-portfolio-image img{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
/*Contact*/
.contact{
	position: relative;
	padding: 120px 0px;
	color: #fff;
	background-image: url(../images/banner-home3.jpg);
	background-size: cover;
}
.contact::after{
	content: "";
	height: 100%;
	position: absolute;
	bottom: -55px;
	left: -120px;
	background-image: url(../images/banner-3-overlay.png);
	background-size: cover;
	z-index: 999;
	max-width: 460px;
	width: 100%;
}
.contact i{
	font-size: 22px;
}
.contact h3{
	font-size: 24px;
	margin: 30px 0px 40px;
}
.contact h2{
	font-size: 36px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}
/*Featured*/
.featured{
	padding: 80px 0px;
}
.products .portfolio:hover .portfolio-image{
	border: 1px solid #80B435;
}
.featured-content{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	-webkit-transition : all 0.5s linear;
	transition : all 0.5s linear;
}
.products .portfolio:hover .featured-content{
	color: #fff;
	bottom: 50%;
	transform : translateY(50%);
}
.product-title{
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
}
.caption-price{
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color: #80B435;
}
.cart{
	position: absolute;
	bottom: -80px;
	width: 100%;
	height: 80px;
	background-color: #fff;
	-webkit-transition : all 0.5s linear;
	transition : all 0.5s linear;
}
.products .portfolio:hover .cart{
	bottom: 0px;
}
.cart ul{
	display: inline-block;
	margin-top: 15px;
}
.cart ul li{
	float: left;
	margin-right: 15px;
}
.cart ul li:last-child{
	margin-right: 0px;
}
.cart ul li a{
	display: inline-block;
	padding: 15px;
	color: #80B435;
	background-color: #fff;
	border: 1px solid #80B435;
	-webkit-transition : all 0.3s ease;
	transition : all 0.3s ease;
}
.cart ul li a:hover{
	color: #fff;
	background-color: #80B435;
}
/*Footer*/
.footer{
	padding-top: 200px;
	background-color: #f3f3f3;
	position: relative;
}
.footer::before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 200px;
	background-image: url(../images/bg-footer.jpg);
	background-size: cover;
	background-position: center;
}
.footer-top{
	padding: 80px 0px;
	font-family: 'Roboto Slab', serif;
}
.footer-title{
	padding-bottom: 30px;
	color: #80b435;
	font-size: 22px;
	text-transform: capitalize;
}
.footer-desc{
	color: #666;
	line-height: 1.9em;
}
.footer-more{
	color: #80b435 !important;
	font-size: 13px;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 20px;
	display: inline-block;
}
.footer-social li{
	float: left;
	margin-right: 15px;
}
.footer-social li a{
	color: #666;
	font-size: 20px;
}
.footer-logo{
	margin-top: 50px;
}
.newsletter-desc{
	margin-bottom: 15px;
}
.email{
	width: 100%;
	height: 50px;
	padding: 0px 15px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.subscrive{
	margin-top: 15px;
	padding: 15px 30px;
	border: 1px solid #80B435;
	border-radius: 3px;
	color: #fff;
	background-color: #80B435;
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition : all 0.3s ease;
	transition : all 0.3s ease;
}
.subscrive:hover{
	background-color: #fff;
	color: #80B435;
}
/*Large Device*/
@media(min-width:1200px){}
/*Medium Device*/
@media(min-width:992px){}
/*Small Device*/
@media(min-width:768px){
	.header-menu li a{
		font-size: 14px;
	}
	.email{
		display: block;
		max-width: 300px;
	}
}
/*Xtra Small*/
@media(max-width:767px){
	.banner-title{
		font-size: 24px;
	}
	.portfolio-controllers .masonary-filter-btn, 
	.product-controllers .filter-btn{
		margin-top: 15px;
	}
	.contact::after{
		display: none;
	}
}