ul,ol{
	list-style-type: none;
}
/*Nav*/
.navbar.navbar-fixed-top{
	/*box-shadow: 0 2px 3px rgba(0,0,0,.2);*/
	background-color: #0fb5b3!important;
	height: 60px;
	line-height: 60px;
}
.navbar-default{
	border: 0px !important;
}
.navbar-default .navbar-nav>li>a{
	padding: 0px 15px;
	display: inline-block;
	color: #fff !important;
	line-height: 60px;
}
.dropdown-toggle:focus,
.dropdown-toggle:hover{
	background-color: #4cb5f3 !important;
}
.logo{
	font-size: 28px !important;
}
.search{
	height: 100%;
    padding: 15px;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: inset 0px 0px 5px transparent;
    color: #fff !important;
    outline: 0px;
}
.search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.search::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.search:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.search:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.user-image{
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.dropdown-menu{
	background-color: #43b5f3 !important;
	border: 0px !important;
}
.dropdown-menu>li>a{
	color: #fff;
}
/*Main Content*/
.main{
	position: relative;
	top: 60px;
}
.sidebar-menu{
	position: fixed;
	top: 60px;
	left: 0px;
	width: 250px;
	height: 100%;
	padding: 50px 0px;
	z-index: 9999;
	-webkit-transition : all 0.3s;
	transition : all 0.3s;
	background-color: #0fb5b3;
}
.collapsed .sidebar-menu{
	left: -250px;
}
.content-container{
	position: absolute;
	top: 0px;
	left: 250px;
	width: calc(100% - 250px);
	height: 350px;
	/*padding-left: 0px;*/
	
	-webkit-transition : all 0.3s;
	transition : all 0.3s;
}
.collapsed .content-container{
	width: 100%;
	left: 0px;
}
.content{
	padding: 0px 15px;
}
/*Sidebar*/
.panel,
.panel-default{
	border-radius: 0px !important;
	border-color : transparent !important;
	background-color : transparent !important;
	box-shadow: none !important;
}
.panel-group .panel+.panel{
	margin-top: 0px !important;
}
.panel-default>.panel-heading{
	background-color: transparent !important;
	border: 0px !important;
}
.panel-title>a,
.sub-menu li a{
	color: #fff !important;
	text-decoration: none !important;
}
.sub-menu{
	margin: 0px !important;
	padding: 0px !important;
}
.sub-menu li a{
	display: inline-block;
	width: 100%;
	padding: 10px 30px;
}
/*Main Content*/
.content{
	padding: 50px 30px;
}
.dashboard-title{
	margin: 0px !important;
	padding: 30px;
}
.category-item{
	border: 1px solid #347AB6;
}
.course-category{
	border-color: #5BB85D;
}
.class-category{
	border-color: #EFAD4D;
}
.test-category{
	border-color: #D9594F;
}
.category-item:hover{
	border-color: #0fb5b3;
}
.category-item-top{
	padding: 20px 15px;
	color: #fff;
	background-color: #347AB6;
	font-size : 42px;
	position: relative;
	-webkit-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
}
.course-category .category-item-top{
	background-color: #5BB85D;
}
.class-category .category-item-top{
	background-color: #EFAD4D;
}
.test-category .category-item-top{
	background-color: #D9594F;
}
.category-item-top::after{
	content: "";
	display: block;
	clear: both;
}
.category-item:hover .category-item-top{
	background-color: #0fb5b3;
}
.category-item-logo{
	float: left;
}
.category-item-content{
	float: right;
	text-align: right;
}
.category-item-content h3{
	font-size: 16px;
	margin: 0px !important;
}
.category-item-bottom{
	padding: 7px 15px;
}
.category-item-bottom a{
	text-decoration: none;
}
.category-item-bottom a,
.category-item-bottom i{
	color: #347AB6;
	-webkit-transition : all 0.3s ease-in-out;
	transition : all 0.3s ease-in-out;
}
.course-category .category-item-bottom a,
.course-category .category-item-bottom i{
	color: #5BB85D;
}
.class-category .category-item-bottom a,
.class-category .category-item-bottom i{
	color: #EFAD4D;
}
.test-category .category-item-bottom a,
.test-category .category-item-bottom i{
	color: #D9594F;
}
.category-item:hover .category-item-bottom a,
.category-item:hover .category-item-bottom i{
	color: #0fb5b3;
}
.category-item-bottom i{
	float: right;
}
/*Student*/
.form{
	max-width: 600px;
}
/*Footer*/
footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #0fb5b3;
	z-index: 99999;
	text-align: center;
	color: #fff;
}